.body
{
  display: grid;
  gap: 30px;
  justify-content: space-between;
  grid-template-columns: calc(40% - 15px) calc(60% - 15px);
  margin-bottom: 200px;
}
.title
{
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  color: #1b1e22;
  font: 55px/60px title;
  margin-top: 50px;
}
.link
{
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-self: flex-start;
  padding: 8px;
  color: #206ecf;
  font-size: 14px;
  text-decoration: none;
  border: solid 1px rgba(32, 110, 207, .25);
  border-radius: 5px;
}
.link:hover
{
  color: #fff;
  background-color: #206ecf;
}
.arrow
{
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  color: inherit;
  fill: currentColor;
  margin-inline-start: 5px;
}
.block
{
  position: relative;
  grid-row: 1 / span 3;
  grid-column: 2 / span 1;
  padding: 32px;
  background: #fff;
  border-radius: 32px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.text
{
  color: #1b1e22;
  font: 14px/28px text;
  margin-bottom: 60px;
}
.avatar
{
  position: absolute;
  bottom: -100px;
  inset-inline-end: 0;
  width: 220px;
}
.label
{
  color: #6b788a;
  font:18px/24px text;
  text-align: center;
}
.subtitle
{
  max-width: 800px;
  color: #111b29;
  text-align: center;
  font: 40px/48px title;
  margin: 10px auto 20px;
}
.links
{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.request , .contact
{
  cursor: pointer;
  color: #fff;
  font: 14px/20px text;
  padding: 12px 24px;
  text-decoration: none;
  background-color: #206ecf;
  border: solid 1px #206ecf;
  border-radius: 5px;
}
.contact
{
  color: #206ecf;
  background-color: #fff;
}
@media(max-width:768px)
{
  .body { grid-template-columns: 100%; }
  .title { font-size: 40px; }
  .link { grid-row: 3; justify-self: stretch; text-align: center; margin-top: 10px; }
  .block { grid-row: 2; grid-column: auto; }
  .avatar { width: 100px; bottom: -20px; }
  .subtitle { font: 18px/20px title; }
  .links { flex-direction: column; text-align: center; }
}